*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url(../public/images/desktop-bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}